<!DOCTYPE html>
<html>
<head>
  <title>Merlin</title>
  <%= stylesheet_link_tag    "merlin/application", :media => "all" %>
  <%= javascript_include_tag "merlin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
